<% layout("./layouts/boilerplate")%>

<h1> All Rideshares</h1>
<div>
    <a href="/rideShares/new">Create a new Rideshare</a>
</div>
<ul class="rideshare-index">
    <% for (let rideShare of rideShares) {%>
    <li>
        <a href="rideShares/<%= rideShare.id %>">
            <img src="<%= rideShare.image %>" alt="">
            <p><%= rideShare.companyName %></p>
        </a>

    </li>
    <% } %>
</ul>