<% layout("./layouts/boilerplate")%>

<body>
    <Header id= "mainHeader"</Header>
        <div class="container"
        <h1>Capstone Homepage</h1>
        </div>
        <img src="https://images.pexels.com/photos/1750272/pexels-photo-1750272.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

    
</body>
    
   
<div></div>