<% layout("./layouts/boilerplate")%>

<div class="landing-page">
  <div class="landing-left">
    <h1>Welcome to RideShare</h1>
    <p> Making transportation easy & environmentaly friendly </p>
    <a href="/rideShares"> View RiseShares</a>
  </div>
   <img  class="landing-right" src="https://images.unsplash.com/photo-1597163612196-bd072c7a02a2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzg5fHxsb3MlMjBhbmdlbGVzJTIwdHJhbnNwb3J0YXRpb258ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
</div>



