<% layout("./layouts/boilerplate")%>

<div class="landing-page">
  <div class="landing-left">
    <h1>Welcome to RideShare</h1>
    <p> Making transportation easy & environmentaly friendly </p>
    <a href="/rideShares"> View RiseShares</a>
  </div>
   <img  class="landing-right" src="/images/hero.png" alt="">
</div>



