<% layout("./layouts/boilerplate")%>

<body>
  <class="hero-image"></class><img src="https://images.pexels.com/photos/1750272/pexels-photo-1750272.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="">
<h1>Capstone Homepage</h1>
    
</body>
    
   
<div></div>